.header {
  display: flex;
  flex-direction: column;
  background: white;
  border-bottom: 10px solid var(--qwik-dark-purple);
}

.logo {
  display: inline-block;
  padding: 10px 10px 7px 20px;
  font-size: 40px;
  font-weight: 800;
}

.menu-items {
  margin: 0;
  padding: 3px 10px 0 0;
  list-style: none;
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.menu-items a  {
  display: inline-block;
  margin: 0;
  padding: 0;
}

header li a {
  display: inline-block;
  padding: 15px 10px;
  text-decoration: none;
}

.menu-items a:hover {
  text-decoration: underline;
}
